extends ../layouts/index

block contenido
  .pt-10
    h1.text-center.font-bold.text-4xl.my-10.text-gray-500 Ges
      span.text-red-700 Tick
    h2.text-2xl.font-bold.mb-6.text-center=pagina
    if errores
      div(id="errores" class=" max-w-md mx-auto mt-5 ")
        each error in errores
          p(class="bg-red-600 rounded-lg text-white text-sm font-bold text-center py-2 my-2 ")=error.msg

  .mx-auto.max-w-md.mt-8
    .bg-white.p-6.rounded.shadow-md
      form(class="space-y-6" method="POST")
        input(type="hidden", name="_csrf" value=csrfToken)
        .mb-4.input-container
          label(for='password' class="block text-lg font-semibold text-gray-700") Nueva Contraseña
          input(type="password" name="password" id="password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md outline-none" placeholder="Nueva contenido")
          span(class="icon-eye hidden" id="view-pass") 👁️


        .mb-4.input-container
          label(for='confirmar_password' class="block text-lg font-semibold text-gray-700") Confirmar Contraseña
          input(type="password" name="confirmar_password" id="confirmar_password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md outline-none" placeholder="Nueva contenido")
          span(class="icon-eye hidden" id="view-confirm") 👁️

        button(type="submit" class="bg-gray-700 text-lg text-white rounded-md px-5 py-2 my-5 w-full hover:bg-gray-800 ") Retablecer Contraseña





