extends ../layouts/index

block contenido
  div(class="container mx-auto p-6")
    h1.text-2xl.font-bold.mb-6.ml-6.shadow-lg.bg-gray-100.py-2 Catálogo de incidentes
    div(class="max-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6")
      // Aplicaciones
      a(href="/catalogo/aplicaciones" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/1157/1157765.png" alt="Aplicaciones" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Aplicaciones
          p.text-gray-600.text-sm Los Tickets en Aplicaciones se relacionan con: Reseteo de clave, Errores, Instalaciones
      // Accesos Informáticos
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/1661/1661394.png" alt="Accesos Informáticos" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Accesos Informáticos
          p.text-gray-600.text-sm Los Tickets en Accesos Informáticos se relacionan con: Permisos Internet, VPN, Usuario de RED
      // Creación de usuarios
      a(href="/auth/registrar" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/2206/2206368.png" alt="Creación de usuarios" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Creación de usuarios
          p.text-gray-600.text-sm Los Tickets en Creación de usuarios se relacionan con: Solicitud para nuevo usuario
      // Dispositivos
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/1006/1006530.png" alt="Dispositivos" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Dispositivos
          p.text-gray-600.text-sm Los Tickets en Dispositivos se relacionan con: Instalación, Movimientos
      // Impresoras
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/3468/3468445.png" alt="Impresoras" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Impresoras
          p.text-gray-600.text-sm Los Tickets en Impresoras se relacionan con: Instalación, Configuración
      // Impresoras Plotter
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/3397/3397594.png" alt="Impresoras Plotter" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Impresoras Plotter
          p.text-gray-600.text-sm Los Tickets en Impresoras Plotter se relacionan con: Instalación, Configuración, Fallo
      // Otros Reportes
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/2331/2331963.png" alt="Otros Reportes" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Otros Reportes
          p.text-gray-600.text-sm Los Tickets en Otros Reportes se relacionan con: Reporte 607, Otros
      // Sistemas Operativos
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="Sistemas Operativos" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Sistemas Operativos
          p.text-gray-600.text-sm Los Tickets en Sistemas Operativos se relacionan con: Instalación, Actualización
      // Telecomunicaciones
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/893/893307.png" alt="Telecomunicaciones" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Telecomunicaciones
          p.text-gray-600.text-sm Los Tickets en Telecomunicaciones se relacionan con: Wifi, Línea, Flotas
      // Servicios Generales
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/2413/2413155.png" alt="Servicios Generales" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Servicios Generales
          p.text-gray-600.text-sm Aire acondicionado, neveras, y otros
      // Base de Datos
      a(href="#" class="bg-white p-4 rounded-lg shadow-md transition-transform transform cursor-pointer hover:scale-105 hover:bg-gray-100")
        .text-center
          img(src="https://cdn-icons-png.flaticon.com/512/2285/2285589.png" alt="Base de Datos" class="w-12 h-12 mx-auto mb-4")
          h2.text-xl.font-bold Base de Datos
          p.text-gray-600.text-sm Tickets para administradores de base de datos
