header.bg-gray-600.p-4
  .container.mx-auto.flex.justify-between.items-center
    a(href="/catalogo")
      h1.text-3xl.text-white.font-semibold.text-center Ges
        span.font-normal.text-red-800 Tick
    nav(class="text-white text-sm my-5 md:flex md:items-center md:gap-6 font-bold hidden") 
      a(href="#" class="flex items-center justify-center") Administrador 
        i(class='bx bx-user-circle text-2xl ml-2') 
      a(href="#" class="bg-gray-800 hover:bg-gray-700 px-10 py-2 rounded-lg") Cerrar Sesión