extends ../layouts/index

block contenido
  .pt-10
    h1.text-center.font-bold.text-4xl.my-10.text-gray-500 Ges
      span.text-red-700 Tick
    h2.text-2xl.font-bold.mb-6.text-center=pagina

    p.text-center.font-extrabold.text-xl.my-5=mensaje

    if exit
    div.flex.justify-center
      a(href="/catalogo" class="font-bold text-lg rounded-md px-5 py-2 my-5 w-96 text-center hover:bg-gray-800 hover:text-white duration-100 ") Volver a Inicio